body{
	background-color:#ffffff;
	color:#000000;
	font:11px verdana,sans-serif;
	overflow:auto;
	margin:0}
.tabtytul{ /* tabelka z grafik¹ (nag³ówek) */
	background-color:#DE1922;
	border-bottom:2px solid #808080}
.tytul{ /* komórka z tytu³em */
	background-color:#DE1922;
	color:#ffffff;
	height:80px;
	font:bold 36px verdana,sans-serif;
	border-bottom:3px solid #B11919;
	text-align:center}
.tytulnapis{ /* tytu³ strony z cieniem (tylko IE) */
	padding-left:10px;width:400px;height:60px;filter:Shadow(Color=#666666,Direction=150)}
.tabela{ /* tabela z planem */
	border-color:#B11919}
td{
	font-size:11px}
th{
	background-color:#DE1922;
	color:#FFFFFF;
	font-size:13px}
td.g{ /* godzina */
	background-color:#DE1922;
	color:#FFFFFF;
	font-weight:bold;
	vertical-align:top;
	text-align:center;
	white-space:nowrap}
td.nr{ /* numer lekcji */
	background-color:#DE1922;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	vertical-align:top}
td.l{ /* lekcja */
	background-color:#ffffff;
	color:#000000;
	vertical-align:top}
a.n{ /* nauczyciel */
	color:#000099}
a.s{ /* sala */
	color:#000099}
a.k{ /* klasa */
	color:#000099}
.p{ /* przedmiot */
	color:#000000;
	font-weight:bold}
.op{ /* napis */
	font:10px verdana,sans-serif}
@media print{
.tabtytul{ /* nag³ówek do druku */
	display:none}
}
